/* -----------------------------------------
#inner
-----------------------------------------*/
#flyout{margin:0;padding:0}
#flyout li{margin:0;display:block;position:relative}
#flyout a,
#flyout span{text-decoration:none;padding:15px 20px;display:block;border-bottom:1px solid #000}
#flyout ul{display:none;position:absolute;top:0;left:100%;margin:0;padding:0;background:#aaa}
#flyout ul a,
#flyout ul span{font-size:13px;padding:10px 15px;width:180px}
#flyout li:hover > ul{display:block}

.breadcrumbs{font-size:13px;text-transform:capitalize}
.breadcrumbs p{margin:0}
.breadcrumbs a{text-decoration:none}
.breadcrumbs i{font-size:13px;margin:0 4px}