/* -----------------------------------------
#rz intranet
-----------------------------------------*/
form.loginform{background:#fff;padding:30px;border:1px solid #D2DFEF}
form.loginform p{background:#E65229;color:#fff;padding:20px;line-height:1}
form.loginform label{font-weight:normal}
form.loginform label input{display:block;margin-bottom:10px;width:100%;box-sizing:border-box;padding:10px;color:#000}
/* -----------------------------------------
#rz notify
-----------------------------------------*/
.e-notify{font-weight:bold;font-size:12px;background:#E7DF7F;position:fixed;padding:3px 13px 2px;bottom:10px;left:10px;color:#111;border-radius:50px;text-transform:uppercase;z-index:999;overflow:hidden;box-shadow:0 0 10px rgba(0,0,0,.175)}
.e-notify img{display:none}
.e-notify i{margin-right:4px!important}
.e-notify a{position:absolute;top:0;bottom:0;left:0;right:0}
/* -----------------------------------------
#rz alert
-----------------------------------------*/
.floating-alert{position:fixed;z-index:99999;bottom:10px;margin:0;right:10px;border:3px solid #fff;background:#000;background:rgba(0,0,0,.9);box-shadow:0 0 10px rgba(0,0,0,.2);color:#fff;padding:30px;font-size:14px;width:350px;}
.floating-alert h1{color:#ffc140;margin:0 0 10px;font-family:sans-serif;font-weight:bold;text-transform:uppercase;font-size:18px}
.floating-alert .btn{padding:8px 10px;margin:20px 0 0 0!important}
.floating-alert .close{padding:0;background:none!important;color:#fff!important;opacity:1;margin-right:20px}
/* -----------------------------------------
#rz edit
-----------------------------------------*/
