/* -----------------------------------------

#share widget

-----------------------------------------*/
.modal-content{overflow:hidden;box-shadow:none!important;border-radius:3px}
.modal-header{background:#fff;border-color:#F4F9FD;text-align:center;padding:30px 60px;text-align:left}
.modal-header h4{font-size:30px}
.modal-header button{margin-top:2px!important;position:relative;font-size:25px}
.modal-body{padding:40px 60px}
.copylink{margin-bottom:40px}
.copylink pre{border-color:#DBE7F0;background:#F4F9FD;border-width:1px}
.modal-header button,.modal-header button:hover{color:#000!important;background:none}
.share-btns{margin:0 0 20px}
.share-btns a{display:block;border:1px solid #DBE7F0;text-align:center;height:170px;border-radius:3px;vertical-align:top;overflow:hidden;text-decoration:none;margin-bottom:20px}
.share-btns i{display:block;line-height:170px!important;font-size:60px}
.btn-facebook{color:#3b5998!important}
.btn-twitter{color:#00ACED!important}
.btn-google{color:#D34836!important}
.btn-reddit{color:#ff5700!important}
.btn-facebook:hover{border-color:#3b5998}
.btn-twitter:hover{border-color:#00ACED}
.btn-google:hover{border-color:#D34836}
.btn-reddit:hover{border-color:#ff5700}
.btn-lg{font-size:16px;padding:14px 30px;border:0;border-radius:3px}
.floating-share-btn{position:fixed;z-index:99999;top:40%;right:0;height:50px;width:50px;border-radius:0;border:0;background:#F26A39!important;color:#fff!important;line-height:50px;padding:0;box-shadow:0 0 10px rgba(0,0,0,.3);text-align:center}
