/* -----------------------------------------
#basic styles
-----------------------------------------*/
body{
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background: $white; // don't touch
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}