/* -----------------------------------------
#buttons
-----------------------------------------*/
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 900 !important;
  font-size: 12px;
  text-decoration: none;
  line-height: normal;
  text-transform: uppercase;
  vertical-align: top;
  border: 0;
  border-radius: 5px;
  background: $btn-bg;
  color: $btn-text;
  cursor: pointer;
  transition: background .3s;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: shade($btn-bg, 10);
  color: $btn-text;
}

.button:active,
a.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: shade($btn-bg, 10);
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-share-close {
  background: $btn-share-close-bg;
  color: $btn-share-close-color;
  &:hover {
    background: shade($btn-share-close-bg, 10);
    color: $btn-share-close-color;
  }
}