$white: #fff; // don't touch
$black: #000; // don't touch
$gray: #ededed;

// UI Colors


// Dynamic UI Colors
// ===================================================================
// Make sure that the colors in here stay below the fold of UI colors.
// Otherwise it could cause variable order definition issues.
// ===================================================================
$text: $black;
$links: #0b7bc0;
$btn-bg: $black;
$btn-text: $white;
$mobile-nav-bg: $white;
$share-btn-color: $black;
$btn-share-close-bg: $black;
$btn-share-close-color: $white;