$white: #fff;
$black: #000;

// UI Colors


// Dynamic UI Colors
// ===================================================================
// Make sure that the colors in here stay below the fold of UI colors.
// Otherwise it could cause variable order definition issues.
// ===================================================================
$share-btn-color: $black;