/* -----------------------------------------
#inner
-----------------------------------------*/
#flyout-toggle {
  display: none;
  float: right;
  position: relative;
  font-size: 20px;
  color: $white;
  z-index: 9;
}
#flyout {
  margin: 0;
  padding: 0;
  a, span {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    border-bottom: 1px solid $black;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  li {
    margin: 0;
    display: block;
    position: relative;
    &:hover > ul {
      display: block;
    }
    &:last-of-type {
      a, span {
        border: none;
      }
    }
  }
  ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 100%;
    background: $black;
    z-index: 9;
    &.showUl {
      display: block;
    }
    &.hideUL {
      display: none;
    }
    a, span {
      padding: 10px 15px;
      font-size: 13px;
      width: 180px;
    }
  }
  .toggle-children {
    display: none;
    float: right;
  }
}

.breadcrumbs {
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  text-transform: capitalize;
  p {
    margin: 0;
    color: $black;
  }
  a {
    text-decoration: none;
    color: $black;
    &:hover, &:focus, &:visited, &:active {
      text-decoration: none;
      color: $black;
    }
  }
  span {
    color: $black;
  }
}

// ALWAYS START HERE WITH NEW STYLES. ADJUST OTHER FILES AS NEEDED FOR DESIRED STYLES
#main-content {
  padding: 0;
  background: $white;
}

.slider-inner {
  position: relative;
  height: 0;
  background: $black;
  z-index: 1;
}
.page-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 52;
  .title {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    color: $white;
  }
}