/* -----------------------------------------
#main
-----------------------------------------*/
body {
  overflow-x: hidden;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#nav-toggle, #search-toggle, .toggle
//, .toggle2
{
  display: none;
}

// ALWAYS START HERE WITH NEW STYLES. ADJUST OTHER FILES AS NEEDED FOR DESIRED STYLES
.top-bar {
  background: #fff;
}

#nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    background: #ededed;
    color: #222;

    &:hover {
      background: #222;
      color: #ededed;
    }
  }
  li {
    margin: 0;
    float: left;
    position: relative;
    &:hover > ul {
      display: block;
    }
  }
  ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    //@include mega-menu(3, 20px);
    list-style: none;
    text-align: left;
    li {
      margin: 0;
      padding: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      left: 100%;
      top: 0;
      a {
        color: #000;
      }
    }
  }
}

#search {
  //display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 255px;
  background: #fff;
  form {
    margin: 0;
    position: relative;
  }
  input {
    height: 40px;
    //width: 100%;
    border: none;
    &:focus {
      outline: none;
      border: none;
    }
  }
  button {
    position: absolute;
    height: 40px;
    border-radius: 0;
    background: #fff;
    &:focus {
      outline: none;
      border: none;
    }
    i {
      margin-top: 0;
    }
  }
}

.slider {
  position: relative;
  height: 0;
  background: #000;
  z-index: 1;
}

.foot-info {
  background: #000;
  font-size: 13px;
  color: #fff;
  p {
    margin: 35px 0;
  }
}

footer {
  font-size: 12px;
  background: #fff;
  p {
    margin: 15px 0;
    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
      &.color {
        color: #000;
      }
    }
  }
}

iframe {
  border: none;
}
.dropdown-menu {
  a {
    text-decoration: none;
  }
}
.goog-te-gadget-simple {
  border: none!important;
}
.skiptranslate {
  padding: 0 20px!important;
}
.goog-te-menu-value {
  span {
    display: none;
    &:first-child {
      display: inline-block;
    }
  }
}