/* -----------------------------------------
#main
-----------------------------------------*/
body {
  overflow-x: hidden;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-open {
  #nav {
    margin-top: 40px;
  }
}

// ALWAYS START HERE WITH NEW STYLES. ADJUST OTHER FILES AS NEEDED FOR DESIRED STYLES
.top-bar {
  background: transparent;
}

nav {
  position: relative;
  z-index: 60;
}
#nav {
  float: none;
  margin: 0;
  padding: 0;
  list-style: none;
  a, span {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    background: $gray;
    color: $black;
    &:hover {
      background: $black;
      color: $gray;
    }
  }
  li {
    //display: inline-block; // for centered nav
    margin: 0;
    float: left;
    position: relative;
    &:hover > ul {
      display: block;
    }
  }
  ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    text-align: left;
    a, span {

    }
    li {
      margin: 0;
      padding: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      left: 100%;
      top: 0;
      a, span {
        color: $black;
      }
    }
  }
}
//@include mega($mega-columns, $mega-gap, $mega-width);

#search {
  //display: none;
  //position: absolute;
  //top: 0;
  //left: 0;
  //float: right;
  width: 255px;
  background: transparent;
  form {
    margin: 0;
    position: relative;
    width: 100%;
  }
  input {
    height: 40px;
    width: 100%;
    border: none;
    //@include border-radius();
    &:focus {
      outline: none;
      border: none;
    }
  }
  button {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    //@include border-radius();
    background: $white;
    &:focus {
      outline: none;
      border: none;
    }
    i {
      margin-top: 0;
      color: $black;
    }
  }
}

.slider {
  position: relative;
  height: 0;
  background: $black;
  z-index: 1;
}

.foot-info {
  background: $black;
  font-size: 13px;
  color: $white;
  p {
    margin: 35px 0;
  }
}

footer {
  font-size: 12px;
  background: transparent;
  p {
    margin: 15px 0;
    color: $black;
    a {
      text-decoration: none;
      color: $white;
      &:hover, &:focus, &:visited {
        text-decoration: none;
        color: $white;
      }
      &.color {
        color: $black;
      }
    }
  }
}

iframe {
  border: none;
}
.dropdown-menu {
  a {
    text-decoration: none;
  }
}
.goog-te-gadget-simple {
  border: none!important;
}
.skiptranslate {
  padding: 0 20px!important;
}
.goog-te-menu-value {
  span {
    display: none;
    &:first-child {
      display: inline-block;
    }
  }
}