$desktop-before: 1201px;
$desktop: 1200px;
$tablet-before: 992px;
$tablet: 991px;
$mobile: 767px;
$mobile-portrait-before: 480px;
$mobile-portrait: 479px;
/* -----------------------------------------
#media queries
-----------------------------------------*/
// For Wider Page Designs
@media only screen and (min-width: $desktop-before) {
  //.container {
  //  width: 1620px; // whatever value reflects the design
  //  max-width: 100%; // fail-safe
  //}
}
@media only screen and (max-width: $desktop) {}
@media only screen and (min-width: $tablet-before) {
  #flyout ,#nav {
    display: block!important
  }
}
@media only screen and (max-width: $tablet) {

  // nav
  .toggle, .toggle2, #nav-toggle, #search-toggle, #flyout-toggle {
    display: inline-block;
    cursor: pointer;
  }
  .down-arrow {
    display: none; // if not hidden above
  }

  #nav {
    display: none;
    a, span {
      padding: 20px 10px;
      font-size: 14px;
      line-height: 1;
      text-align: left;
      border-bottom: 1px solid rgba(#000, .2);
      background: none;
    }
    li {
      float: none;
      display: block;
      &:hover > ul {
        display: none;
      }
      li:hover > a {
        background: none;
        color: #fff;
      }
    }
    ul {
      padding: 0;
      position: static;
      top: 0;
      width: auto;
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-count: 1;
      -webkit-column-gap: 0;
      column-count: 1;
      column-gap: 0;
      background: rgba(0, 0, 0, .2);
      a, span {
        margin: 0;
        padding: 20px;
        width: 100%;
      }
      ul {
        display: none;
        margin: 0;
        padding: 0;
        left: 0;
        background: rgba(#000, .2);
        a, span {
          margin: 0;
          padding: 20px 30px;
        }
      }
    }
    .toggle, .toggle2 {
      position: absolute;
      right: 0;
      top: 0;
      width: 55px;
      height: 55px;
      text-align: center;
      line-height: 55px;
      background: rgba(0, 0, 0, .2);
    }
  }

  #flyout {
    display:none;
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      a, span {
        padding: 20px 10px;
        font-size: 14px;
        line-height: 1;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        background: none;
      }
      &:hover > ul {
        display: none;
      }
    }
    ul {
      position: static;
      left: 0;
      padding: 0;
      background:rgba(0,0,0,.2);
      a, span {
        padding: 20px;
        width:100%;
      }
    }
    .toggle-children {
      display: block;
    }
  }

  footer {
    .text-right {
      text-align: left;
    }
  }

  /* rz form tables - without page scope this targets edit forms and makes
 * editing confusing
 */
  #freeform {
    #formwizziwmorf {
      tr {
        display: block !important;
        td {
          display: block !important;
        }
        table {
          tr {
            display: table-row !important;
          }
          td {
            display: table-cell !important;
          }
        }
      }
    }
  }
}
// All Mobile Sizes (devices and browser)
@media only screen and (max-width: $mobile) {
  .floating-alert {
    padding-left: 15px;
    padding-right: 15px;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    font-size: 12px;
    border-radius: 0;
    border: 0;
    h4 {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .btn {
      padding: 7px 12px !important;
      font-size: 10px;
    }
  }
  .share-btns {
    a {
      padding: 10px;
      width: 100%;
      height: auto;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
    }
    i {
      display: block;
      font-size: 20px;
      line-height: 50px !important;
    }
  }
  .floating-share-btn {
    top: auto;
    bottom: 0;
  }
}

// Mobile Landscape Size to Tablet Portrait (devices and browsers)
@media only screen and (min-width: $mobile-portrait-before) and (max-width: $mobile) {}

// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
@media only screen and (max-width: $mobile-portrait) {}

@media print {
  .nav-wrap, .sidebar, #flyout-wrap, .breadcrumbs, .e-notify {
    display: none !important;
  }
  a[href]:after {
    content: none !important;
  }
}