// Mixin functions for easier styling

// mega menu helpers
@mixin mega-reset($col: 1, $gap: 0) {
  -moz-column-count: $col;
  -moz-column-gap: $gap;
  -webkit-column-count: $col;
  -webkit-column-gap: $gap;
  column-count: $col;
  column-gap: $gap;
}

@mixin mega($col: 3, $gap: 30px, $mega-width: 900px, $break: avoid) {
  #nav {
    ul {
      -moz-column-count: $col;
      -moz-column-gap: $gap;
      -webkit-column-count: $col;
      -webkit-column-gap: $gap;
      column-count: $col;
      column-gap: $gap;
      width: $mega-width;
      li {
        display: block;
        float: none;
        -webkit-column-break-inside: $break;
        page-break-inside: $break;
        break-inside: $break;
      }
      ul {
        display: block;
        position: static;
        top: 100%;
        left: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        column-count: 1;
        column-gap: 0;
      }
    }
  }
}

// clear to next line (slider text helper)
@mixin new-line($display: inline, $z-index: 55, $content: '\A', $white-space: pre) {
  display: $display;
  position: relative;
  z-index: $z-index;
  &:after {
    content: $content;
    white-space: $white-space;
  }
}

// default border radius
@mixin border-radius($radius: 5px, $webkit: true, $moz: true, $ms: true) {
  @if $webkit { -webkit-border-radius: $radius; }
  @if $moz    { -moz-border-radius: $radius; }
  @if $ms     { -ms-border-radius: $radius; }
  border-radius: $radius;
}

// shades with black
@function shade($color, $percent) {
  // should be used for things like shading colors of a button on hover
  @return mix($black, $color, $percent);
}

// lightens with white
@function lighten($color, $percent) {
  // should be used for things like lightening colors of a button on hover
  @return mix($white, $color, $percent);
}