/* -----------------------------------------
#rz intranet
-----------------------------------------*/
form.loginform {
  background:#fff;
  padding:30px;
  border:1px solid #D2DFEF;

  p {
    background:#E65229;
    color:#fff;
    padding:20px;
    line-height:1;
  }

  label {
    font-weight:normal;

    input {
      display:block;
      margin-bottom:10px;
      width:100%;
      box-sizing:border-box;
      padding:10px;
      color:#000;
    }
  }
}