/* -----------------------------------------
#rz alert
-----------------------------------------*/
.floating-alert {
  margin: 0;
  padding: 30px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 350px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(#000,.2);
  border: 3px solid #fff;
  background: rgba(#000,.9);
  color: #fff;
  z-index: 99999;
  h4 {
    margin: 0 0 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffc140;
  }
  .btn {
    margin: 20px 0 0 0!important;
    padding: 8px 10px;
  }
  .close {
    margin-right: 20px;
    padding: 0;
    background: none !important;
    color: #fff !important;
    opacity: 1;
  }
}