/* -----------------------------------------
#rz notify
-----------------------------------------*/
.e-notify {
  overflow: hidden;
  padding: 3px 13px 2px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,.175);
  background: #E7DF7F;
  color: #111;
  z-index: 999;
  img {
    display: none;
  }
  i {
    margin-right: 4px !important;
  }
  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}