/* -----------------------------------------
#share widget
-----------------------------------------*/
.modal-content {
  overflow: hidden;
  box-shadow: none !important;
  border-radius: 3px;
}
.modal-header {
  padding: 30px 60px;
  text-align: center;
  border-color: #F4F9FD;
  background: $white;
  h4 {
    font-size: 30px;
  }
  button {
    margin-top: 2px !important;
    position: relative;
    font-size: 25px;
    background: none;
    color: $black !important;
    &:hover {
      background: none;
      color: $black !important;
    }
  }
}
.modal-body {
  padding: 40px 60px;
}
.copylink {
  margin-bottom: 40px;
  pre {
    border: 1px solid #DBE7F0;
    background: #F4F9FD;
  }
}
.share-btns {
  margin: 0 0 20px;
  a {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    height: 170px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #DBE7F0;
  }
  i {
    display: block;
    font-size: 60px;
    line-height: 170px !important;
  }
}


.btn-facebook {
  color: #3b5998 !important;
  &:hover {
    border-color: #3b5998;
  }
}
.btn-twitter {
  color: #00ACED !important;
  &:hover {
    border-color: #00ACED;
  }
}
.btn-google {
  color: #D34836 !important;
  &:hover {
    border-color: #D34836;
  }
}
.btn-reddit {
  color: #ff5700 !important;
  &:hover {
    border-color: #ff5700;
  }
}

.btn-lg {
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 3px;
  border: 0;
}
.floating-share-btn {
  padding: 0;
  position: fixed;
  top: 40%;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  border-radius: 0;
  border: 0;
  background: $share-btn-color !important;
  color: $white !important;
  z-index: 99999;
}