/* -----------------------------------------
#typography
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  color:#111;
  font-weight:normal;
  margin-bottom:30px;
  line-height:1.2;
}

h1, h2, h3, h4, h5, h6 {
  a{
    font-weight:inherit;
  }
}

h1{font-size:36px;}
h2{font-size:32px;}
h3{font-size:28px;}
h4{font-size:21px;}
h5{font-size:16px;}
h6{font-size:14px;}

.header {
  font-size:28px;
  color:#111;
  margin-bottom:30px;
}

.subheader {
  font-size:21px;
  color:#111;
  margin-bottom:30px;
}

p{
  margin:0 0 30px 0;
}

em {
  font-style:italic;
}

strong, b {
  font-weight:bold;
}

small {
  font-size:80%;
}

hr {
  border:solid #ccc;
  border-width:1px 0 0;
  clear:both;
  margin:10px 0 30px;
  height:0;
}

//@font-face{
//  font-family:'weather';
//  src:url('../fonts/weather/artill_clean_icons-webfont.eot');
//  src:url('../fonts/weather/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/weather/artill_clean_icons-webfont.woff') format('woff'),
//  url('../fonts/weather/artill_clean_icons-webfont.ttf') format('truetype'),
//  url('../fonts/weather/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
//  font-weight:normal;
//  font-style:normal;
//}
//.weather i{font-family:'weather'}
//.weather .icon-0:before{content:":"}.weather .icon-1:before{content:"p"}.weather .icon-2:before{content:"S"}.weather .icon-3:before{content:"Q"}.weather .icon-4:before{content:"S"}.weather .icon-5:before{content:"W"}.weather .icon-6:before{content:"W"}.weather .icon-7:before{content:"W"}.weather .icon-8:before{content:"W"}.weather .icon-9:before{content:"I"}.weather .icon-10:before{content:"W"}.weather .icon-11:before{content:"I"}.weather .icon-12:before{content:"I"}.weather .icon-13:before{content:"I"}.weather .icon-14:before{content:"I"}.weather .icon-15:before{content:"W"}.weather .icon-16:before{content:"I"}.weather .icon-17:before{content:"W"}.weather .icon-18:before{content:"U"}.weather .icon-19:before{content:"Z"}.weather .icon-20:before{content:"Z"}.weather .icon-21:before{content:"Z"}.weather .icon-22:before{content:"Z"}.weather .icon-23:before{content:"Z"}.weather .icon-24:before{content:"E"}.weather .icon-25:before{content:"E"}.weather .icon-26:before{content:"3"}.weather .icon-27:before{content:"a"}.weather .icon-28:before{content:"A"}.weather .icon-29:before{content:"a"}.weather .icon-30:before{content:"A"}.weather .icon-31:before{content:"6"}.weather .icon-32:before{content:"1"}.weather .icon-33:before{content:"6"}.weather .icon-34:before{content:"1"}.weather .icon-35:before{content:"W"}.weather .icon-36:before{content:"1"}.weather .icon-37:before{content:"S"}.weather .icon-38:before{content:"S"}.weather .icon-39:before{content:"S"}.weather .icon-40:before{content:"M"}.weather .icon-41:before{content:"W"}.weather .icon-42:before{content:"I"}.weather .icon-43:before{content:"W"}.weather .icon-44:before{content:"a"}.weather .icon-45:before{content:"S"}.weather .icon-46:before{content:"U"}.weather .icon-47:before{content:"S"}